<template>
	<div class="row justify-content-center">
		<div class="col-10" >
			<!-- ARTICLE -->
			<div>
				<!-- section header with tool -->
				<div class="row my-3 " >
					<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
						<h1 class='display-4 '>Article</h1>
						<div v-if="articleStatusDraft" style="display: flex; justify-content: space-between; align-items: baseline">
							<b-button :to="{ name: 'editArticle', params: {id: article._id}}" class='float-right tool-button ' v-if="isAuthorized" >
								<p class="">Edit article<img class="ml-2 tool-button-icon "  src="/img/icon_pencil_black.svg"/></p> 
							
							</b-button>
						</div>
						
						<div class="float-right" v-if="articleStatusPending">
							<p class="text-grey" >Article locked and under vote</p>
						</div>
						<div class="float-right" v-if="articleStatusClosed">
							<p class="text-grey" >Article locked</p>
						</div>
						
					</div>
				</div>
				

				<b-card
					class="overflow-hidden"
					
					header-bg-variant="transparent"
					header-border-variant="light"
					
					no-body
					>
					<div class="card-content">
						<div class="mt-2" >
							{{ formatDate(article.createdAt) }}
							<p v-if="articleStatusDraft" class="float-right"><b-badge pill variant="secondary">Draft</b-badge></p>
							<p v-if="articleStatusPending" class="float-right"><b-badge pill variant="warning">In vote</b-badge></p>
							<p v-if="articleStatusAdopted" class="float-right"><b-badge pill variant="success">Adopted</b-badge></p>
							<p v-if="articleStatusRejected" class="float-right"><b-badge pill variant="danger">Rejected</b-badge></p>
						</div>
						<div class="mt-3" style=" display:flex; flex-direction: column; justify-content: flex-end">
							<b-card-title class="overflow-hidden " >
								<h3>{{ article.title }}</h3>
							</b-card-title>
							<div>
								<hr>
							</div>
							<b-card-text class="overflow-hidden; mb-3 mt-2 text-prewrap" style="  ">
								{{ article.description }}
							</b-card-text>
							<div>
								<hr>
							</div>
							<div class="mt-2 mb-2" >
							<span class="float-right">Updated on {{ formatDate(article.updatedAt) }}</span>
							<p ><b-badge :style="getColorStyle()">{{article.category.title}}</b-badge></p>
							
						</div>
						</div>
					</div>
				</b-card>

				
				
				
				<!-- delete tool row -->
				<div class="row my-2">
					<div v-if="articleStatusDraft" class="col">
						<b-button @click="$bvModal.show('modal-delete-article')" class='float-md-right tool-button' v-if="isAuthorized">
							<p class="">Delete article <img class="ml-2 tool-button-icon "  src="/img/icon_x.svg"/></p> 
						</b-button>
					</div>
				</div>
						
						
				
			</div>

			<!-- Open VOTE-->
			<div class="row justify-content-left">
				<div class="col-8 mb-5"> 
					<CAVote v-bind:article="article"  :key="forceUpdateOnLock"	v-if="articleStatusDraft" 	@updated="onArticleUpdate"/>
				</div>
			</div>

			<!-- ballot -->	
			<div class="row justify-content-left">
				<div class="col-8 mb-5"> 
					<CABallot v-bind:article="article"  :key="forceUpdateOnLock"	v-if="articleStatusPending" @updated="onArticleUpdate"/>
				</div>
			</div>

			<!-- outcome -->		
			<div class="row justify-content-left">
				<div class="col-8 mb-5"> 
					<CAOutcome v-bind:article="article" :key="forceUpdateOnLock" v-if="articleStatusClosed"  @updated="onArticleUpdate"/>
				</div>
			</div>
			
			<b-modal 
				id="modal-delete-article" 
				centered title="Are you sure you want to delete this article?"
				@ok="deleteArticle">
								
				<p>You are about to delete article <b>{{ article.title }}</b>. This cannot be undone.</p>

				<template v-slot:modal-footer="{ ok, cancel, hide}">
					<b-button size="md" variant="outline-secondary" @click="cancel()">
					Cancel
					</b-button>
					<b-button size="md" variant="danger" @click="ok(), hide()">
					Delete article
					</b-button>				
				</template>			
			</b-modal>
			
		
		</div>
	</div>
</template>



<script>

import CABallot from './CABallot.vue';
import CAVote from './CAVote.vue';
import CAOutcome from './CAOutcome.vue';

import CONST from "../utils/constants.js"


export default {
	name: 'CAArticle',
	components: {
		CABallot,
		CAVote,
		CAOutcome
	},
	data() {
		return {
			article: {},
			breadcrumbItems: [
				{
					text: 'Project',
					to: '/categories'
				},
				{
					text: 'loading',
					to: 'loading'
				},
				{
					text: 'article',
					active: true	
				}
				
			],
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		}
	},
	computed:{
		articleStatusDraft(){
			return (this.article.status == CONST.ARTICLE_STATUS_DRAFT);
		},
		articleStatusPending(){
			return (this.article.status == CONST.ARTICLE_STATUS_PENDING);
		},
		articleStatusRejected(){
			return (this.article.status == CONST.ARTICLE_STATUS_REJECTED);
		},
		articleStatusAdopted(){
			return (this.article.status == CONST.ARTICLE_STATUS_ADOPTED);
		},
		articleStatusClosed(){
			return (this.article.status == CONST.ARTICLE_STATUS_ADOPTED || 
					this.article.status == CONST.ARTICLE_STATUS_REJECTED);
		},
		forceUpdateOnLock(){
			if(!this.article.lock) return this.article._id;
			return this.article.lock._id;
		},
		isAuthorized(){
			const minlevel = CONST.USER_PRIVILEGE_BOARD;
			return (this.$store.state.privilege >= minlevel)
		}

	},
	methods: {
		update(){
			this.axios
			.get(this.$API+'/articles/'+this.$route.params.id)
			.then(resp => {
				window.console.log(">>CAArticle > got some data : ",resp);
				
				this.article = resp.data;
				if(!resp.data.category) return;
				this.breadcrumbItems[1].text = resp.data.category.title;
				this.breadcrumbItems[1].to = "/category/"+resp.data.category._id;

			})
		},
		onArticleUpdate(){
			window.console.log(">>CAArticle > updated article")
			this.update();
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		deleteArticle(){
			window.console.log("CAArticle delete article")
			this.axios
			.delete(this.$API+/articles/+this.$route.params.id)
			.then(resp => {
				window.console.log(">>CAArticle > deleted article : ",resp);
				this.$store.commit('alertSuccess', "The article was succesfully deleted");
				this.$router.push({ name: 'category', params: { id: resp.data.category } })
			})
			.catch(this.$store.commit('alertwarning', "The article could not be deleted"))
		},
		getColorStyle(){
			return "background-color: "+this.article.category.color;
		}
	},
	created() {
		this.update()
	}
}
</script>

<style scoped lang="scss">

</style>
