<template>
	<div>
		<!-- section header with tool -->
		<div class="row my-3 " >
			<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
				<h1 class='display-4 '>Your ballot</h1>
				<b-button @click="verifyBallotAndShowModal"  class='float-right tool-button ' >
					<p class="">Verify ballot  <img class="ml-2 tool-button-icon "  src="/img/icon_magnifying_glass.svg"/></p> 
					
				</b-button>
			</div>
		</div>

		
		

		<b-card
			class ="ballot"
			no-body
			header-border-variant="light"
			style="min-width: 20rem;"
			border-variant="primary"
			header-bg-variant="primary"
			header-text-variant="white"
			align="left"
			v-if="notVotedYet"
			>
			
			
			Article
			<h4>{{ article.title }}</h4>
			<hr>
			<div>
				<div class="row">
					<b-button @click="setVote('reject')" class="tool-button ballot-btn">
					<div class="ballot-checkbox float-left mr-3">
						<img src="/img/ballot-checkmark-reject.svg" v-if="checkVote('reject')">
					</div>
					<h4 class="float-right" :style="voteColorStyle('reject', '#ff3a20')">Reject</h4>
				</b-button>
				</div>
				<div class="row">
					<b-button @click="setVote('accept')" class=" tool-button ballot-btn">
						<div class="ballot-checkbox float-left mr-3">
							<img src="/img/ballot-checkmark-accept.svg" v-if="checkVote('accept')">
						</div>
						<h4 class="float-right" :style="voteColorStyle('accept', '#0055ff')">Accept</h4>
					</b-button>
				</div>
				<div class="row ">
					<b-button @click="setVote('withold')" class="tool-button ballot-btn " style="display: flex; justify-content: space-between; align-items: center">
						<div class="ballot-checkbox float-left mr-3">
							<img src="/img/ballot-checkmark-withold.svg" v-if="checkVote('withold')">
						</div>
						<p style="color: black" class="float-right ">Withold on this vote</p>
					</b-button>
				</div>
			</div>
			<hr>
			<div class="pt-2">
				{{ decryptedBallot.proposal.voteTitle }}<br>
				{{ decryptedBallot.proposal.voteDescription }}
			</div>
			<hr>
			<div class="py-2">
				Due date<br>
				{{ formatDate(decryptedBallot.proposal.dueDate) }}
			</div>
			
		</b-card>
		<b-alert v-else show>You have already voted.</b-alert>
		

		<div style="display: flex; justify-content: center" v-if="notVotedYet">
			<b-button class="big-button display-4 my-4" @click="checkBallotAndShowModal" >Place vote</b-button>
		</div>
		<b-modal 
			id="modal-center-vote" 
			centered title="Confirm your vote"
			@ok="onAccept">
							
			<p>You are about to {{vote}} article {{ article.title }}. Are you sure?</p>

			<template v-slot:modal-footer="{ ok, cancel, hide}">
				<b-button size="md" variant="outline-secondary" @click="cancel()">
				Cancel
				</b-button>
				<b-button size="md" variant="success" @click="ok(), hide()">
				Place vote
				</b-button>				
			</template>			
		</b-modal>

		<b-modal 
			id="modal-center-verify" 
			centered title="verify ballot"
			@ok="onClose"
			size="xl"
			>
							
			<p>Ballot hash {{ proposalHash }}</p>

			<template v-slot:modal-footer="{ ok, cancel, hide}">
				
				<b-button size="md" variant="primary" @click="ok(), hide()">
				OK
				</b-button>				
			</template>			
		</b-modal>

		
	</div>
</template>

<script>

import CONST from '../utils/constants.js';

export default {
	name: 'CABallot',
	props: ['article'],
	data(){
		return {
			ballot: {},
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
			decryptedBallot: {
				proposal: {
					voteTitle: "",
					voteDescription: "",
					articleTitle: "",
					dueDate: ""
				}
			},
			proposalHash: 0,
			notVotedYet: true,
			vote: "undefined"
		}
	},
	computed:{
		daysUntilDueDate(){
			return Math.round((new Date(this.article.lock.dueDate).getTime()-new Date().getTime())/(24*60*60*1000))
		},
		alreadyVoted() {
			return !this.notVotedYet;
		}

	},
	methods: {
		getBallot(){
			this.axios
			.get(this.$API+'/articles/'+this.article._id+'/ballot')
			.then(resp => {
				window.console.log(">>CABallot > resp",resp);
				this.ballot = resp.data;
				this.proposalHash =  resp.data.proposalHash;
				this.decryptBallot(resp.data.ballot);
			})
			.catch((err) => {
				window.console.log(">> CABallot > Error when downloading ballot:",err.response.data.err);
				if(err.response.data.err.indexOf("user has already voted")>=0) this.notVotedYet = false;
			});
		},
		decryptBallot(_encryptedBallot){
			const username = this.$store.state.username;
			if(!username) return;
			this.$CryptoWrapper.decryptMessageForUser(username, _encryptedBallot)
			.then(_decryptedMsg => {
				try{
					window.console.log(">>CABallot > decrypted",_decryptedMsg)
					this.decryptedBallot = JSON.parse(window.atob(_decryptedMsg.message));
				}
				catch(err){
					window.console.log(">>CABallot > parseError",err)
				}
			})
		},
		onReject(){
			window.console.log(">>CABallot > Rejected");
			this.decryptedBallot.myVote = CONST.VOTE_STATUS_NAY;
			this.castBallot();
		},
		onAccept(){
			window.console.log(">> CABallot > Accepted");
			this.decryptedBallot.myVote = CONST.VOTE_STATUS_YAY;
			this.castBallot()
		},
		onWithhold(){
			window.console.log(">> CABallot > Withheld");
			this.decryptedBallot.myVote = CONST.VOTE_STATUS_WITHELD;
			this.castBallot()
		},
		generateSignedBallot(){
			const user_id = this.$store.state.user_id;
			return this.$CryptoWrapper.signMessage(user_id, this.decryptedBallot)
		},
		castBallot(){
			this.generateSignedBallot()
			.then(async (_signedBallot) => {
				
				const user_id = this.$store.state.user_id;
				const credentials = await this.$CryptoWrapper.getAppCredentials(user_id);
				const publicKey = credentials[user_id].keypair.public_key;

				const signedBallot = {
					publicKey: publicKey,
					signedBallot: _signedBallot
				}
				
				return this.axios.put(this.$API+'/articles/'+this.article._id+'/ballot',signedBallot)
			})
			.then(this.onSuccess)
			.catch(this.onFailure);
		},
		onSuccess(resp){
			window.console.log(">> CABallot > success", resp);
			this.$store.commit('alertSuccess', "Your vote was recorded");
			this.notVotedYet = false;
		},
		onFailure(err){
			window.console.log(">> CABallot > failure", err);
			if(err == "user has already voted") this.notVotedYet = false;
			this.$store.commit('alertError', "Your vote could not be recorded");
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		checkBallotAndShowModal(){
			this.$bvModal.show('modal-center-vote');
		},
		verifyBallotAndShowModal(){
			this.$bvModal.show('modal-center-verify');
		},
		setVote(vote){
			this.vote = vote;
		},
		checkVote(vote){

			if(vote == this.vote){
				
				return true;
			}
			return false;
		},
		voteColorStyle(vote, color){
			if(vote == this.vote){
				window.console.log("voteColorStyle ", "color: "+color)
				return "color: "+color;
			}
			return "color: black;";
		}
	},
	created() {
		window.console.log(">> CABallot > Mounted",this.article);
		this.getBallot();	
	},
	updated(){
		window.console.log(">> CABallot > Updated",this.article);
	}

}
</script>

<style scoped lang="scss">

</style>
