<template>
	<div>


		<!-- section header with tool -->
		<div class="row my-3 " >
			<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
				<h1 class='display-4 '>Categories</h1>
				<b-button to="category/new"  class='float-right tool-button ' v-if="isAuthorized" >
					<p class="">New category <img class="ml-2 tool-button-icon "  src="/img/icon_plus_sign.svg"/></p> 
					
				</b-button>
			</div>
		</div>

		{{error}}
		<CARequestError v-bind:error="error" />
		
		<div class="mb-5">
			<b-card-group columns>
				<b-card
					class="overflow-hidden text-white"
					v-for="category in categories"
					:key="category.key"
					header-bg-variant="transparent"
					header-border-variant="light"
					:style="getColorStyle(category)"
					v-on:click="showCategory(category)"
					no-body
					>
					
					
					<div class="card-content category-card">	
						
						
					<b-card-title >
						{{ category.title }}
						
					</b-card-title>
					
						<b-card-text >
							{{ category.description }}<br>
						</b-card-text>
				
					</div>	

						<!--
						<template v-slot:footer>
							<small class="text-muted">Created {{ formatDate(category.createdAt) }} </small>
							<b-link v-if="isAuthorized" v-on:click="deleteCategory(category)" class='float-right'>🗑</b-link>
						</template>
					-->
					
				</b-card>
			</b-card-group>
		</div>
		<CAMilestones/>
	</div>
</template>

<script>

import CONST from "../utils/constants.js"
import CARequestError from "./CARequestError.vue"
import CAMilestones from "./CAMilestones.vue"

export default {
	name: 'CACategories',
	components: {
		CARequestError,
		CAMilestones
	},
	props: {
	},
	data(){
		return {
			fields: ['title'],
			categories: [],
			newCategoryTitle: "",
			newCategoryDescription: "",
			newCategoryImage: "",
			error:null,
			color: "",
			milestonesVue: null,
			// months to display
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		}
	},
	computed: {
		isAuthorized(){
			const minlevel = CONST.USER_PRIVILEGE_BOARD;
			return (this.$store.state.privilege >= minlevel)
		},
		rows() {
				return this.items.length
		}
	},
	created() {
		
		this.renderListOfCategories();
	},
	methods: {

		renderListOfCategories(){
			this.axios
				.get(this.$API+'/categories/')
				.then(resp => {
					this.categories = resp.data
				})
				.catch(err => {
					window.console.log(">>CACategories > trace error",err,JSON.stringify(err));
					this.error = err;
				});
		},
		showCategory(category) {
			this.$router.push({ name: 'category', params: { id: category._id } })
		},
		deleteCategory(category){
			if(!window.confirm("are you sure you want to delete category: "+category.title+"?\n\n Note: associated articles are not deleted, but may become hard to retreive. ")) return;
			this.axios
				.delete(this.$API+'/categories/'+category._id)
				.then(() => {
					this.renderListOfCategories();
					this.$store.commit('alertSuccess',"Removed category "+category.title)
				})
				.catch(err => {
					this.$store.commit('alertError',"Category could not be deleted")
					window.console.log(err);
				});
		},
		createNewCategory(e){
			this.axios
				.post(this.$API+'/categories/', {title: this.newCategoryTitle, description: this.newCategoryDescription})
				.then(() => {
					this.$bvModal.hide('modal-new-category')
					this.renderListOfCategories()
				})
				.catch(err => {
					window.console.log(err);
					this.$bvModal.hide('modal-new-category')
					this.$store.commit('alertError',"Please provide a title and description.")
				});

			e.preventDefault();

		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		removeImage(){
			this.newCategoryImage = ""; 
		},
		pathToImage(image){
			const remotePath =  this.$API.replace("api","");
			return remotePath+image;
		},
		generateBgImage(image){
			
			return `background-image: url('${this.pathToImage(image)}')`;
		
		},
		getColorStyle(category){
			const _color = category.color || "#cfcfce";
			return "background-color: "+ _color;
		}

	}

}
</script>

<style scoped lang="scss">

.ca-img-thumbnail{
	width: 100%; 
	height: 8em; 
	overflow: hidden; 
	background-position: center center; 
	background-size: cover; 
}



</style>
