<template>
	<div class="col col-12" style="">

		<div class="row my-3 " >
			<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
				<h1 class='display-4 ' v-if="!id">New milestone</h1>
				<h1 class='display-4 ' v-else>Edit milestone</h1>
				<b-button @click="$bvModal.show('modal-delete-milestone')"  class='float-right tool-button ' v-if="id" >
					<p class="">Delete milestone <img class="ml-2 tool-button-icon "  src="/img/icon_x.svg"/></p> 
					
				</b-button>
				
				
				
				
			</div>
		</div>
		<div class="row" style="">
			<b-form class="form-horizontal col-12"
				@submit="checkForm"
				method="POST"
				enctype="multipart/form-data"
			>
				<b-card
					class="overflow-hidden"
					header-bg-variant="transparent"
					header-border-variant="light"
					no-body
					>
					<b v-if="errors.length">
						<b>Please correct the following error(s)</b>
						<div
							v-for="error in errors"
							:key="error.id"
							class='alert alert-warning'
							role='alert'
							>
								{{ error }}
						</div>
					</b>

					<b v-if="notifications.length">
						<div
							v-for="notification in notifications"
							:key="notification.id"
							class='alert alert-success'
							role='alert'
						>
								{{ notification }}
						</div>
					</b>

					<div class="mt-2" style=" display:flex; flex-direction: column; justify-content: flex-end">
						<b-form-group
							id="fieldset-horizontal"
							description=""									
							>
							<label class="control-label text-light-grey" for="lockTitle">Title</label>
							<b-form-input
								class="h4 form-text-edit bottom-line"
								id="title" 
								v-model="title" 
								rows="1"
								no-resize
								/>
						</b-form-group>
						
						
						<b-card-text class="overflow-hidden; mb-3 mt-2" style="  ">
							
							<b-form-group
								id="fieldset-horizontal"
								
							>
								<label class="control-label text-light-grey" for="lockTitle">Description</label>
								<b-form-textarea 
									class="form-control form-text-edit bottom-line" 
								
									name="description"
									v-model="description"
									rows="3"
									max-rows="8"
									no-resize
								/>
									
								
							</b-form-group>
						</b-card-text>
						
						<div>
							<label class="control-label text-light-grey" for="lockTitle">Linked articles</label>
							<div
								class="my-3"
								v-for="article in articles"
								:key="article.key"
								style=""
								
							>
								<div style="display: flex; justify-content: space-between; align-items: baseline">
									<b-card bg-variant="light" style="width: 100%" no-body class="py-2">
										
										
									<div>
										<div class="float-right">
										<p v-if="isDraft(article)"><b-badge pill variant="secondary">Draft</b-badge></p>
										<p v-if="isUnderVote(article)"><b-badge pill variant="warning">In vote</b-badge></p>
										<p v-if="isAdopted(article)"><b-badge pill variant="success">Adopted</b-badge></p>
										<p v-if="isRejected(article)"><b-badge pill variant="danger">Rejected</b-badge></p>
									</div>
									<p>{{article.title}}	</p>
									</div>
									

									
									</b-card>
									<b-button class="float-right tool-button " @click="removeArticle(article)">
										<img class="ml-2 tool-button-icon "  src="/img/icon_x.svg"/>
									</b-button>
								</div>
								
							</div>
							<!-- delete tool row -->
							<div class="row my-2">
								<div class="col">
									<b-button @click="$bvModal.show('modal-add-article')" class='float-md-right tool-button' >
										<p class="">Add article <img class="ml-2 tool-button-icon "  src="/img/icon_plus_sign.svg"/></p> 
									</b-button>
								</div>
							</div>

						</div>

						
						
						

						<b-form-group
							id="fieldset-horizontal"
							description=""									
						>
							<label class="control-label text-light-grey" for="lockTitle">Due Date</label>
							<b-form-input 
								
								type="date" 
								
								id="dueDate"
								
								
								v-model="dueDate"
								
							></b-form-input>
						</b-form-group>	
						</div>
						
					

					


					
				</b-card>
				<div style="display: flex; justify-content: center">
					<b-button type="submit" id="Submit" name="Submit" class="big-button display-4 my-4" >Save milestone</b-button>
				</div>
			</b-form>
			
		</div>

		<!-- modal with search functionality -->
		<b-modal 
			id="modal-add-article" 
			centered title="Add article"
			
			size="xl"
			>
							
			<div class="row">
				<div class="col"> 
					<b-button-group >
						
						<b-input-group>
							<b-form-input v-model="searchTerm" class="pl-2 bottom-line form-text-edit" ></b-form-input>
						</b-input-group>
						<b-button @click="searchArticles" class='tool-button bottom-line' style="min-width: 8rem">
							<div class="" >
								<p class="">Search <img class="ml-2 tool-button-icon "  src="/img/icon_magnifying_glass.svg"/></p> 
							</div>
							
						</b-button>
					</b-button-group>
					
				</div>
				
			</div>
			
			<div class="row mt-3">
				
					<b-card-group columns class="col">
						<b-card
							class="overflow-hidden"
							v-for="article in foundArticles"
							:key="article.key"
							v-on:click="addArticle(article)"	
							header-bg-variant="transparent"
							header-border-variant="light"
							bg-variant="light" 
							no-body
							>
							<div class="card-content article-card-search">
								<div class="mt-2" >
									
									{{ formatDate(article.createdAt) }}
									<p v-if="isDraft(article)" class="float-right"><b-badge pill variant="secondary">Draft</b-badge></p>
									<p v-if="isUnderVote(article)" class="float-right"><b-badge pill variant="warning">In vote</b-badge></p>
									<p v-if="isAdopted(article)" class="float-right"><b-badge pill variant="success">Adopted</b-badge></p>
									<p v-if="isRejected(article)" class="float-right"><b-badge pill variant="danger">Rejected</b-badge></p>
								</div>
								<div style=" display:flex; flex-direction: column; justify-content: flex-start">
									<b-card-text class="overflow-hidden " style="font-weight: 700; min-height: 4.5rem; max-height: 4.5rem">
										{{ article.title }}
									</b-card-text>

									<!--
									<b-card-text class="overflow-hidden; mb-3 mt-2" style="  min-height: 4rem; max-height: 4rem;">
										{{ article.description }}
									</b-card-text>
								-->
								</div>
							</div>
							
							
								
							
						</b-card>
					</b-card-group>
				
			</div>
			

			<template v-slot:modal-footer="{ ok, cancel, hide}">
				
				<b-button size="md" variant="primary" @click="ok(), hide()">
				Done
				</b-button>				
			</template>			
		</b-modal>
		
		<b-modal 
			id="modal-delete-milestone" 
			centered title="Are you sure you want to delete this milestone?"
			@ok="deleteMilestone">
							
			<p>You are about to delete milestone <b>{{ title }}</b>. This cannot be undone.</p>

			<template v-slot:modal-footer="{ ok, cancel, hide}">
				<b-button size="md" variant="outline-secondary" @click="cancel()">
				Cancel
				</b-button>
				<b-button size="md" variant="danger" @click="ok(), hide()">
				Delete milestone
				</b-button>				
			</template>			
		</b-modal>

	</div>
</template>

<script>

import CONST from "../utils/constants.js"
import _ from 'lodash';

export default {
	components: {
	},
	data() {
		return {
			errors: [],
			notifications: [],
			title: "", 
			description: "",
			dueDate: "",
			articles: [],
			allArticles: [],
			availableArticles: [],
			foundArticles: [],
			id: null,
			milestone: null,
			searchTerm: "",
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		};
	},
	mounted() {

		this.milestone = this.$route.params.milestone|| null;
		this.id = this.$route.params.id || null;

		this.axios
			.get(this.$API+'/articles/search')
			.then(resp => {
				window.console.log(">> CAEditMilestones > all articles: ",resp.data);
				this.allArticles = resp.data;
			})
		
		if(this.id){
			this.axios
				.get(this.$API+'/milestones/'+this.id)
				.then(resp => {
					//window.console.log("CAEditMilestones mounted data: ",resp.data);
					this.title = resp.data.title;
					this.description = resp.data.description;
					// this.id = resp.data._id;
					// this.milestone = resp.data.category._id;
					this.articles = resp.data.articles;
					this.dueDate = this.formatDateForPicker(resp.data.dueDate) ;
					//window.console.log("CAEditMilestones date formattetd: ",this.dueDate);
				})
				.catch(e => {
					this.errors.push(e)
				})
		}
	},
	computed: {
		

	},
	methods: {
		checkForm: function(e){
			this.errors = [];

			// window.console.log(">> CAEditCategoryView > filepond >",this.$refs.pond.getFiles())

			if(this.title && this.description && this.id){
				this.updateMilestone();
				e.preventDefault();
				return
			}
			if(this.title && this.description){
				this.createMilestone();
				e.preventDefault();
				return
			}
			if (!this.title) {
				this.errors.push('Title required.');
			}
			if (!this.description) {
				this.errors.push('Description required.');
			}
			if (!this.dueDate) {
				this.errors.push('Due date required.');
			}

			e.preventDefault();
		},
		createMilestone: function(){
			this.notifications = [];
			this.errors = [];

			//first we create new formdata
			const formData = new FormData();
			//formData.append('image', null);
			formData.append('title',this.title);
			formData.append('description',this.description);
			formData.append('dueDate',this.dueDate);

			//!! so far this produces an error 500? The update does work...
			formData.append('articles',this.articles);

			window.console.log(">> CAEditMilestones > before upload >",formData.articles);
			
			this.axios
				.post(
					this.$API+'/milestones',
					{
					title: this.title,
					description: this.description,
					dueDate: this.dueDate,
					articles: this.articles
					}
					)
				.then(resp => {
					window.console.log(resp.data);
					this.$router.push({ name: 'milestone', params: { id: resp.data._id } })
				})
				.catch(e => {
					this.errors.push(e)
				})
		},
		updateMilestone: function(){
			this.notifications = [];
			this.errors = [];
			this.axios
				.put(this.$API+'/milestones/'+this.id,{
					title: this.title,
					description: this.description,
					dueDate: this.dueDate,
					articles: this.articles
				})
				.then(resp => {
					window.console.log(resp.data);
					// this.title = resp.data.title;
					// this.description = resp.data.description;
					// this.id = resp.data._id;

					// this.notifications.push("Succesfully updated categorie");
					this.$router.push({ name: 'milestone', params: { id: resp.data._id } })

				})
				.catch(e => {
					this.errors.push(e)
				})
		},
		showMilestones(milestone) {
			this.$router.push({ name: 'milestone', params: { id: milestone._id } })
		},
		isDraft(article){
			return (article.status == CONST.ARTICLE_STATUS_DRAFT)
		},
		isUnderVote(article){
			return (article.status == CONST.ARTICLE_STATUS_PENDING)
		},
		isAdopted(article){
			return (article.status == CONST.ARTICLE_STATUS_ADOPTED)
		},
		isRejected(article){
			return (article.status == CONST.ARTICLE_STATUS_REJECTED)
		},
		formatDateForPicker(date){
			var d = new Date(date);
			return (d.getFullYear()+"-"+(d.getMonth() < 9 ? "0" : "")+(d.getMonth()+1)+"-"+(d.getDate() < 10 ? "0" : "")+d.getDate());	
		},
		searchArticles(){
			window.console.log("CAEditMilestones searchArticles all ", this.searchTerm)

			var term = this.searchTerm.toLowerCase();
			
			this.foundArticles =  _.filter(this.allArticles, function(o) { return o.title.toLowerCase().search(term) > -1; });
			return this.searchTerm;
		},
		addArticle(article){
			window.console.log("CAEditMilestones add article ", article);
			this.articles.push(article);
			window.console.log("CAEditMilestones articles ", this.articles);
		},
		removeArticle(article){
			
			var index = _.findIndex(this.articles, ['id', article.id]);
			window.console.log("CAEditMilestones remove article ", article, " index ", index);
			this.articles.splice(index, 1);
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		deleteMilestone(){
			window.console.log("CAEditMilestones delete ", this.title);
			this.axios
				.delete(this.$API+'/milestones/'+this.id,{
					
				})
				.then(resp => {
					window.console.log(resp.data);
					// this.title = resp.data.title;
					// this.description = resp.data.description;
					// this.id = resp.data._id;

					// this.notifications.push("Succesfully updated categorie");
					this.$router.push({ name: 'categories', params: { } })

				})
				.catch(e => {
					this.errors.push(e)
				})
		}
	},
}
</script>

<style scoped lang="scss">

</style>
