<template>
	<b-navbar toggleable="md" class="sticky-top navbar-expand-md justify-content-center ca-custom-nav" >

		<!-- <b-navbar-header class="mr-0 " > -->

		<b-navbar-brand href="#">
			<img src="/img/housecoop-icon.svg" class="d-inline-block logo-header mr-2" >
			{{ instance.title }}
		</b-navbar-brand>
			
			
			
		<!-- </b-navbar-header> -->

		<b-navbar-toggle target="nav-collapse" class="ml-auto"></b-navbar-toggle>

		<b-collapse id="nav-collapse" class="collapse justify-content-between align-items-center w-100" is-nav>
			<b-navbar-nav class="navbar-nav mx-auto text-center" center>
				<b-nav-item to="/home" class="nav-item" v-if="setupCompleted">
					Home
				</b-nav-item>
				<b-nav-item to="/categories" class="nav-item" v-if="setupCompleted">
					Project
				</b-nav-item>
				<b-nav-item to="/members" class="nav-item" v-if="setupCompleted">
					Community
				</b-nav-item>
				<b-nav-item to="/setup" class="nav-item" v-if="!setupCompleted">
					Setup your organisation
				</b-nav-item>


			</b-navbar-nav>
			<b-navbar-nav class="flex-row justify-content-center flex-nowrap" right v-if="user_id !== -1">
				

				<b-nav-item-dropdown right>
					<!-- Using 'button-content' slot -->
					<template v-slot:button-content>
					{{ username }}
					</template>
					<b-dropdown-item href="#" v-on:click="gotoProfile">Profile</b-dropdown-item>
					<b-dropdown-item href="#" v-on:click="logOut">Sign Out</b-dropdown-item>
				</b-nav-item-dropdown>
				<div style=" display: flex; ;align-items: center">
					<div class="ca-img-thumbnail" :style="generateBgImage()"/>
				</div>
				
			</b-navbar-nav>

			


			

			<b-navbar-nav class="flex-row justify-content-center flex-nowrap" right v-else>
				<b-nav-item href="#" v-on:click="gotoLogin">Login</b-nav-item>
				<b-nav-item href="#" v-on:click="gotoRegister">Register</b-nav-item>
			</b-navbar-nav>

		</b-collapse>
	</b-navbar>
</template>




<script>

export default {
		name: 'CAHeader',
		components: {
		},
		props: {
		},
		data() {
			return { 

			}
		},
		computed: {
			user_id() {
				return this.$store.state.user_id	
			},
			currentPrivilege(){
				return this.$store.state.privilege
			},
			username(){
				return this.$store.state.username
			},
			profileImg(){
				return this.pathToImage(this.$store.state.profileImg);
			},
			instance(){
				return this.$store.state.instance || {title: "", description: ""};
			},
			setupCompleted(){
				const instance = this.$store.state.instance;
				if(instance == null) return false;
				if(instance._id == -1) return false;
				return true;
			}
		},
		methods: {
			
			gotoLogin(){
				this.$router.push({ name: 'login', params: {} });
			},
			gotoRegister(){
				this.$router.push({ name: 'register', params: {} });
			},
			gotoProfile(){
				this.$router.push({ name: 'account', params: {} });
			},
			logOut(){
				//window.console.log(">> CAHeader > triggered logout");
				this.$store.commit('logOut');

				this.axios
					.get(this.$API+'/users/logout')
					.then(() => {
						this.$store.commit('logOut');
						this.$router.push({ name: 'login', params: {} });
					})
					.catch(err => {
						window.console.log(err)	
						this.$router.push({ name: 'welcome', params: {} });
					})
			},
			pathToImage(image){

				const remotePath =  this.$API.replace("api","");
				
				if(image){
					//window.console.log(" CAHeader pathToImage >> ", remotePath+image)
					return remotePath+image;

				}else{
					return remotePath+"uploads/images/defaultUser.png";
				}
				
			},
			generateBgImage(){
				
				return `background-image: url('${this.pathToImage(this.$store.state.profileImg)}')`;
			
			}
		},
		mounted() {
		}
	}
</script>

<style scoped lang="scss">


	.collapse.show{
		background: white;
	}



	.navbar-light .navbar-nav .nav-link{
		color: rgba(0,0,0,1);
		
	}



	.ca-img-thumbnail{
	width: 2.4rem;
	height: 2.4rem; 
	overflow: hidden; 
	border-radius: 50%; 
	background-position: center center; 
	background-size: cover; 
	z-index: -1;
	

	.ca-custom-nav{
		background: rgba(1,1,1,1);

	}
}


</style>
