<template>
	<div class="row justify-content-center">
		<div class="col-12">
			<!-- section header with tool -->
			<div class="row mt-3 mb-3" >
				<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
					<h1 class='display-4 '>Community</h1>

				</div>
			</div>
		
		{{error}}
		<CARequestError v-bind:error="error"/>


		
		
			<b-tabs content-class="mt-3"  justified lazy>

				

				<b-tab title="Members" class="tab"  active>
					<CAMembersDeck :members="membersAndUp"/>
				</b-tab>
				
				<b-tab title="Aspirants" >
					<CAMembersDeck :members="aspirants"/>
				</b-tab>

				<b-tab title="Admins" >
					<CAMembersDeck :members="admins"/>
				</b-tab>

				<b-tab title="Coaches" >
					<CAMembersDeck :members="coach"/>
				</b-tab>

				<b-tab title="All">
					<CAMembersDeck :members="_members"/>
				</b-tab>
				

			</b-tabs>

		</div>
	</div>
</template>

<script>

import CONST from '../utils/constants.js';
import _ from 'lodash';

import CARequestError from "./CARequestError.vue"
import CAMembersDeck from "./CAMembersDeck.vue"


const privilege_levels = [
	{
		value: null,
		text: 'Please select an option',
		disabled: true
	},
	{
		text: 'Admin',
		value: CONST.USER_PRIVILEGE_ADMIN
	},
	{
		text: 'Founder',
		value: CONST.USER_PRIVILEGE_FOUNDER
	},
	{
		text: 'Board',
		value: CONST.USER_PRIVILEGE_BOARD,
	},
	{
		text: 'Member',
		value: CONST.USER_PRIVILEGE_MEMBER
	},
	{
		text: 'Coach',
		value: CONST.USER_PRIVILEGE_COACH
	},
	{
		text: 'Partner',
		value: CONST.USER_PRIVILEGE_PARTNER
	},
	{
		text: 'Financier',
		value: CONST.USER_PRIVILEGE_FINANCIER
	},
	{
		text: 'Applying for membership',
		value: CONST.USER_PRIVILEGE_APPLICANT_MEMBER
	},
	{
		text: 'Applying to become coach',
		value: CONST.USER_PRIVILEGE_APPLICANT_COACH
	},
	{
		text: 'Applying for partnership',
		value: CONST.USER_PRIVILEGE_APPLICANT_PARTNER
	},
	{
		text: 'Aspirant',
		value: CONST.USER_PRIVILEGE_ASPIRANT
	},
	{
		text: 'Visitor',
		value: CONST.USER_PRIVILEGE_VISITOR
	}
]

export default {
	name: 'CAMembers',
	components: {
		CARequestError,
		CAMembersDeck

	},
	props: {
	},
	data(){
		return {
			fields: ['username','privilege','you'],
			members: [],
			you: '',
			options: privilege_levels,
			error: null,
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		}
	},
	computed: {
		_members(){
			if(this.members.length == 0) return [];
			return this.members.map(member => {
				let _member = member;
				_member.label = _.find(privilege_levels, level => level.value == member.privilege).text;
				_member.you = (member._id == this.you) ? "you" : "";
				return _member;
			})

		},
		admins(){
			return this.members.filter(member => {
				return (member.privilege == CONST.USER_PRIVILEGE_ADMIN);
			})
		},
		coach(){
			return this.members.filter(member => {
				return (member.privilege == CONST.USER_PRIVILEGE_COACH);
			})
		},
		aspirants(){
			return this.members.filter(member => {
				return (member.privilege == CONST.USER_PRIVILEGE_ASPIRANT);
			})
		},
		membersAndUp(){
			return this.members.filter(member => {
				return (member.privilege >= CONST.USER_PRIVILEGE_MEMBER);
			})
		}

	},
	mounted() {
		this.axios
			.get(this.$API+'/users/')
			.then(resp => {
				window.console.log(resp);
				this.members = resp.data.members;
				this.you = resp.data.you;
			})
			.catch(err => {
				this.error = err;
			});
		this._members();
	},
	methods: {

		showUser(user) {
			this.$router.push({ name: 'member', params: { id: user._id } })
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())
		},
		pathToImage(image){
			const remotePath =  this.$API.replace("api","");
			if(image){
				return remotePath+image;
			}else{
				return remotePath+"uploads/images/defaultUser.png";
			}
			
		},
		generateBgImage(image){
			
			return `
					background-image: url('${this.pathToImage(image)}')`;
		
		}

	}

}
</script>

<style scoped lang="scss">
.you.img-thumbnail{
	background: #39ff14;
}
.ca-img-thumbnail{
	width: 100px; 
	height: 100px; 
	overflow: hidden; 
	border-radius: 50%; 
	background-position: center center; 
	background-size: cover; 
}

</style>
