<template>
	<div class="">
		<b-card-group columns class="" v-if="_members.length">
			<b-card
				class="overflow-hidden"
				v-for="member in _members"
				:key="member.key"
				header-bg-variant=""
				border-variant=""
				footer-bg-variant="white"
				
				v-on:click="showUser(member)"
				no-body
				>
				<div class="card-content ">
					<div class="row">
					
						<div class="col-4 my-3">
							<div class=" ca-img-thumbnail" :style='generateBgImage(member.profileImg)'>	
										
							</div>
						</div >
						<div class="col-8 my-3 " style="position: relative">
							<b-badge 
								pill 
								variant="primary" 
								v-if="member.you"  
								style="align-self: flex-start"	
								class=" float-right"
							>
								YOU
							</b-badge>
							<div class="" style="position: absolute; height:100%; display: flex;">
								<h5 class="" style=" align-self: flex-end; " >{{ member.username }}</h5>
							</div>
							
							
						</div>
					</div>
					<hr>
					<span>{{ member.label }}<span class="text-muted"> since {{ formatDate(member.createdAt) }}</span></span>

				</div>
				
				

			</b-card>

		</b-card-group>
		<div class="text-center py-5 text-secondary"  v-else>
			<h4>No persons in this category.</h4>
		</div>
	</div>
		
	
</template>



<script>

import CONST from '../utils/constants.js';



export default {
	name: 'CAMembersDeck',
	props: ['members'],
	components: {
		
	},
	data() {
		return {


		}
	},
	computed:{

		_members(){

			window.console.log(">> CAMembersDeck > list of members: ",this.members);

			window.console.log("CAMembersDeck: ",this.members);

			return this.members;
		}
		


	},
	methods: {
		showUser(user) {
			this.$router.push({ name: 'member', params: { id: user._id } })
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+CONST.months[d.getMonth()]+" "+d.getFullYear())		
		},
		pathToImage(image){
			const remotePath =  this.$API.replace("api","");
			if(image){
				return remotePath+image;
			}else{
				return remotePath+"uploads/images/defaultUser.png";
			}
			
		},
		generateBgImage(image){
			
			return `background-image: url('${this.pathToImage(image)}')`;
		
		}
	},
	created() {
		//this.update()
	},
	update(){

	}
}
</script>

<style scoped lang="scss">


.ca-img-thumbnail{
	width: 100px; 
	height: 100px; 
	overflow: hidden; 
	border-radius: 50%; 
	background-position: center center; 
	background-size: cover; 
}


</style>
