<template>
	<div class=" justify-content-center my-5 row">
		<div class="col-10">

			<div class="row">
				<div class="col-4" >
					<div class="my-0 ca-img-thumbnail" :style='generateBgImage(image)'/>
				</div>
				<div class="col-8">
					<div class="vertical-center" >
						<h2 >
						{{ username }} 
						</h2>
						<h6 class="text-muted" >
							<a :href="generateMail()">{{ email }}</a>
						</h6>
						<h6>{{ privilegeLabel }}<span class="text-muted"> since {{ formatDate(createdAt) }}</span></h6>
					</div>					
				</div>

			</div>
			<div>
				<p class="my-4" >
					{{ description }}
				</p>					
			</div>

			<div class=""> 
				<CAVote />
			</div>

			<div class=""> 
				<CABallot />
			</div>

			<div class=""> 
				<CAOutcome />
			</div>

			<div class="col-md-8 my-5" v-if="isAllowed">
				<b-form @submit="onSubmit">
					<b-form-group 
						id="privilege-group" 
						label="Privilege level" 
						label-for="privilege"
						label-cols-sm="4"
						label-cols-lg="3"
					>
						<b-form-select 
						v-model="privilege" 
						:options="options"
						></b-form-select>
					</b-form-group>
					<b-button type="submit" variant="primary">Adjust privilege level</b-button>
				</b-form>
			</div>

		</div>
	</div>
</template>

<script>

import CABallot from './CABallot.vue';
import CAVote from './CAVote.vue';
import CAOutcome from './CAOutcome.vue';

import CONST from '../utils/constants.js';
import _ from 'lodash';

const privilege_levels = [
	{
		value: null,
		text: 'Please select an option',
		disabled: true
	},
	{
		text: 'Admin',
		value: CONST.USER_PRIVILEGE_ADMIN
	},
	{
		text: 'Founder',
		value: CONST.USER_PRIVILEGE_FOUNDER
	},
	{
		text: 'Board',
		value: CONST.USER_PRIVILEGE_BOARD,
	},
	{
		text: 'Member',
		value: CONST.USER_PRIVILEGE_MEMBER
	},
	{
		text: 'Coach',
		value: CONST.USER_PRIVILEGE_COACH
	},
	{
		text: 'Partner',
		value: CONST.USER_PRIVILEGE_PARTNER
	},
	{
		text: 'Financier',
		value: CONST.USER_PRIVILEGE_FINANCIER
	},
	{
		text: 'Applying for membership',
		value: CONST.USER_PRIVILEGE_APPLICANT_MEMBER
	},
	{
		text: 'Applying to become coach',
		value: CONST.USER_PRIVILEGE_APPLICANT_COACH
	},
	{
		text: 'Applying for partnership',
		value: CONST.USER_PRIVILEGE_APPLICANT_PARTNER
	},
	{
		text: 'Aspirant',
		value: CONST.USER_PRIVILEGE_ASPIRANT
	},
	{
		text: 'Visitor',
		value: CONST.USER_PRIVILEGE_VISITOR
	}
]

export default {
	name: 'CAMember',
	props: {
		CABallot,
		CAVote,
		CAOutcome
	},
	data(){
		return {
			username: '',
			email: "",
			image: "",
			description: "",
			privilege: -1,
			selected: null,	
			options: privilege_levels,
			createdAt: "",
			breadcrumbItems: [
				{
					text: 'Community',
					to: '/members'
				},
				{
					text: 'member',
					active: true	
				}
				
			],
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		}
	},
	computed: {
		// selected(){
		// 	window.console.log(">> selecting level: ",privilege_levels.find(level => level.value == this.privilege).text);
		// 	return privilege_levels.find(level => level.value == this.privilege).text
		// }
		isAllowed(){
			return (this.$store.state.privilege >= 8);
		},
		privilegeLabel(){
			var  label = _.find(privilege_levels, level => level.value == this.privilege).text;
			return label
		}
	},
	mounted() {
		this.axios
			.get(this.$API+'/users/'+this.$route.params.id)
			.then(resp => {
				this.username = resp.data.username;
				this.privilege = resp.data.privilege;
				this.id = resp.data._id;
				this.privilege = privilege_levels.find(level => level.value == this.privilege).value;
				this.createdAt = resp.data.createdAt;
				this.email = resp.data.email;
				this.image = resp.data.profileImg;
				this.description = resp.data.description;
			})
			.catch(err => {
				window.console.log(err);
			});
	},
	methods: {
		onSubmit(evt){
			evt.preventDefault();
			this.axios
				.put(this.$API+'/users/'+this.id, {privilege: this.privilege})
				.then(this.onSuccess)
				.catch(this.onFailure);
		},
		onSuccess(resp){
			window.console.log("success", resp);
			this.$store.commit('alertSuccess', "Member succesfully adjusted");
		},
		onFailure(resp){
			window.console.log("fail", resp);
			this.$store.commit('alertError', "Could not adjust privilege");
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		profileImg(){
			return this.pathToImage(this.$store.state.profileImg);
		},
		pathToImage(image){
			const remotePath =  this.$API.replace("api","");
			if(image){
				return remotePath+image;
			}else{
				return remotePath+"uploads/images/defaultUser.png";
			}
			
		},
		generateBgImage(image){
			
			return `background-image: url('${this.pathToImage(image)}')`;
		
		},
		generateMail(){
			
			return "mailto: "+this.email;
		
		}
	}

}
</script>

<style scoped lang="scss">

.ca-img-thumbnail{
	width: 15vw; 
	height: 15vw; 
	overflow: hidden; 
	border-radius: 50%; 
	background-position: center center; 
	background-size: cover; 
}

.vertical-center{
	position: absolute; 
	top: 50%; 
	-ms-transform: 
	translateY(-50%); 
	transform: translateY(-50%);

}

</style>
