<template>
	<div class="col-10">
		
		<div >
			

			<!-- section header with tool -->
			<div class="row my-3 " >
				<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
					<h1 class='display-4 '>Milestones</h1>
					<b-button to="milestone/new" class='float-right tool-button ' v-if="isAuthorized" >
						<p class="">New milestone <img class="ml-2 tool-button-icon "  src="/img/icon_plus_sign.svg"/></p> 
						
					</b-button>
				</div>
			</div>
			<!-- date selctor -->
			<div class="row">	
				
				<div class="col" >
					<b-button-toolbar key-nav aria-label="Toolbar with button groups" class="float-right">
						<b-button-group class="float-right" >
							<b-button class="tool-button" @click="decrementMonth()">
								<img class="tool-button-icon "  src="/img/icon_arrow_left.svg"/>
							</b-button>
						</b-button-group>
						<b-button-group class="" style="display: flex;  align-items: baseline">
							<b-form-select v-model="selectedMonth" :options="options" @change="filterListOfMilestones()"></b-form-select>
							<div class="ml-1">{{ selectedYear }}</div>
						</b-button-group>
						<b-button-group class="">
							<b-button class="tool-button" @click="incrementMonth()">
								<img class="tool-button-icon "  src="/img/icon_arrow_right.svg"/>
							</b-button>
						</b-button-group>
					</b-button-toolbar>
				</div>
			</div>

			<!-- milestone timeline -->
			<div class="tbLine my-3">
				<div v-if="orderedFilteredMilestones.length">

					<div
						class="row my-0 vline "
						v-for="milestone in orderedFilteredMilestones"
						:key="milestone.key"
						style="display: flex; align-items: baseline"
						v-on:click="showMilestones(milestone)"

						>
						
						<!-- left column -->
						<div class='col-3 ' v-if="hasUniqueDate(milestone)">
							<h4 class="text-blue" style="display: flex; justify-content: space-between; align-items: baseline">
								{{ formatDate(milestone.dueDate) }} 
							</h4>
						</div>
						<div class='col-3 ' v-else></div>

						<!-- line column -->
						<div class="col-1  " style="display: flex; justify-content: center;">
							<div>
								<div class="bullet" v-if="hasUniqueDate(milestone)"/>
							</div>
						</div>
						
						<!-- right column -->
						<div class="col-8 my-3">
							<b-card
								no-body
								class="pb-1"
							>
								<b-card-title class="mt-1">
									{{ milestone.title }}
								</b-card-title>
								<b-card-text class="mb-2" >
									{{ milestone.description }}
								</b-card-text>

								<div v-if="milestone.articles.length">
									<hr>
									<div
									class="my-3"
									v-for="article in milestone.articles"
									:key="article.key"
									style=""
									v-on:click="showArticle(article)"
									>

									<b-card bg-variant="light" style="width: 100%" no-body class="py-2">
										
										
										<div>
											<div class="float-right">
											<p v-if="isDraft(article)"><b-badge pill variant="secondary">Draft</b-badge></p>
											<p v-if="isUnderVote(article)"><b-badge pill variant="warning">In vote</b-badge></p>
											<p v-if="isAdopted(article)"><b-badge pill variant="success">Adopted</b-badge></p>
											<p v-if="isRejected(article)"><b-badge pill variant="danger">Rejected</b-badge></p>
										</div>
										<p>{{article.title}}	</p>
										</div>
										

										
									</b-card>


								</div>
									

								</div>

								


							</b-card>
						</div>

					</div>
				</div>
				<div v-if="!orderedFilteredMilestones.length" class="text-center py-5 text-secondary"  >
					<h4>There are no milestones set for this month</h4>
				</div>
			</div>


		</div>
	</div>
</template>

<script>

import CONST from "../utils/constants.js"
//import CARequestError from "./CARequestError.vue"

export default {
	name: 'CAMilestones',
	//components: {CARequestError},
	props: {},
	
	data(){
		return {
			fields: ['title'],
			milestones: [],
			filteredMilestones: [],
			orderedFilteredMilestones:[],
			uniqueFilteredMilestones: [],
			newMilestoneTitle: "",
			newMilestoneDescription: "",
			error:null,

			// months to display
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
			today: "",
			selectedYear: 2020,
			selectedMonth: 0,
			options: [
				{ value: 0, text: 'January' },
				{ value: 1, text: 'February' },
				{ value: 2, text: 'March' },
				{ value: 3, text: 'April'},
				{ value: 4, text: 'May'},
				{ value: 5, text: 'June'},
				{ value: 6, text: 'July'},
				{ value: 7, text: 'August'},
				{ value: 8, text: 'September'},
				{ value: 9, text: 'October'},
				{ value: 10, text: 'November'},
				{ value: 11, text: 'December'}
				]
			}
	},
	computed: {
		isAuthorized(){
			const minlevel = CONST.USER_PRIVILEGE_BOARD;
			return (this.$store.state.privilege >= minlevel)
		},
		rows() {
				return this.items.length
		},
		

	},
	mounted() {
		this.today = new Date();
		
		this.renderListOfMilestones()
			.then (() => {
				this.selectedMonth = this.today.getMonth();
				this.selectedYear  = this.today.getFullYear();
				this.filterListOfMilestones();
			})
			.catch(err => {
				window.console.log(">>CAMilestones > trace error",err,JSON.stringify(err));
				this.error = err;
			});
		
	},
	methods: {

		async renderListOfMilestones(){
			
			return this.axios
				.get(this.$API+'/milestones/')
				.then(resp => {
					window.console.log(">>CAMilestones > get list",resp.data);
					this.milestones = resp.data
				})
				.catch(err => {
					window.console.log(">>CAMilestones > trace error",err,JSON.stringify(err));
					this.error = err;
				});
			
		},
		filterListOfMilestones(){
			const _ = require("lodash")
			
			//window.console.log("selectedMonth ",this.selectedMonth);
			var _selectedMonth = this.selectedMonth;
			this.filteredMilestones = _.filter(this.milestones, function(o) { return (new Date(o.dueDate).getMonth() == _selectedMonth); });

			//window.console.log("filtered milestones",this.filteredMilestones);
			this.orderListOfMilestones();
		},
		orderListOfMilestones(){
			const _ = require("lodash")

			this.orderedFilteredMilestones = _.sortBy(this.filteredMilestones, [function(o) { return o.dueDate; }]);

			window.console.log("ordered milestones",this.orderedFilteredMilestones);
			this.removeDuplicateDates();

		},
		removeDuplicateDates(){
			const _ = require("lodash");

			this.uniqueFilteredMilestones = _.uniqBy(this.orderedFilteredMilestones, 'dueDate');
			//window.console.log("uniqueFilteredMilestones",this.uniqueFilteredMilestones);

		},
		showMilestones(milestone) {
			this.$router.push({ name: 'milestone', params: { id: milestone._id } })
		},
		deleteMilestone(milestone){
			if(!window.confirm("are you sure you want to delete milestone: "+milestone.title+"?\n\n Note: associated articles are not deleted. ")) return;
			this.axios
				.delete(this.$API+'/milestones/'+milestone._id)
				.then(() => {
					this.renderListOfMilestones();
					this.$store.commit('alertSuccess',"Removed milestone "+milestone.title)
				})
				.catch(err => {
					this.$store.commit('alertError',"milestone could not be deleted")
					window.console.log(err);
				});
		},
		createNewMilestone(e){
			this.axios
				.post(this.$API+'/milestones/', {title: this.newMilestoneTitle, description: this.newMilestoneDescription})
				.then(() => {
					this.$bvModal.hide('modal-new-milestone')
					this.renderListOfCategories()
				})
				.catch(err => {
					window.console.log(err);
					this.$bvModal.hide('modal-new-milestone')
					this.$store.commit('alertError',"Please provide a title and description.")
				});

			e.preventDefault();

		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		decrementMonth(){
			if(this.selectedMonth == 0){
				this.selectedYear --;
			}
			
			this.selectedMonth --;
			this.selectedMonth = (this.selectedMonth+12)%12;
			this.filterListOfMilestones();
		},
		incrementMonth(){
			if(this.selectedMonth == 11){
				this.selectedYear ++;
			}
			this.selectedMonth ++;
			this.selectedMonth = this.selectedMonth%12;
			this.filterListOfMilestones();
		},
		hasUniqueDate(item){
			//window.console.log("hasUniqueDate: ", item);
			for (var i = this.uniqueFilteredMilestones.length - 1; i >= 0; i--) {
				if(this.uniqueFilteredMilestones[i]._id == item._id){
					return true;
				} 
			}
			return false;
		},
		isDraft(article){
			return (article.status == CONST.ARTICLE_STATUS_DRAFT)
		},
		isUnderVote(article){
			return (article.status == CONST.ARTICLE_STATUS_PENDING)
		},
		isAdopted(article){
			return (article.status == CONST.ARTICLE_STATUS_ADOPTED)
		},
		isRejected(article){
			return (article.status == CONST.ARTICLE_STATUS_REJECTED)
		}

	}

}
</script>

<style scoped lang="scss">

	.test{
		border: 2px solid red;
		overflow: hidden;
	}

	.tbLine{
		display: block;
		border-top: 1px solid #dee2e6;
		border-bottom: 1px solid #dee2e6;
		height: 100%;
		overflow: hidden;
	}

	.vline{
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='100%'>
		<line x1='0' y1='0' x2='0' y2='100%' style='stroke:rgb(0,123,255);stroke-width:8' />
		</svg>");
		background-repeat-x: no-repeat;
		background-repeat-y: repeat;
		background-position: 29.2% 0%;
		
		
	}

	.vertical-line{
		position: relative;
		left: 50%px;
		top: 0px;
		
	}

	.bullet{
		border: 4px solid #0055ff;	
		border-radius: 10px;
		height: 20px;
		width: 20px;
		background-color: #ededed;
		align-self: baseline;
	}


</style>
