<template>
	<div>
		<div >
			<b-img  class="overflow-hidden" v-bind:src="PathToImage" style="max-height: 20em; min-width: 100%"></b-img>
		</div>

		<!-- section header with tool -->
		<div class="row my-3 " >
			<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
				<h1 class='display-4 '>Milestone</h1>
				<div style="display: flex; justify-content: space-between; align-items: baseline">
					<b-button :to="{ name: 'editMilestone', params: {id: id}}" class='float-right tool-button '  >
						<p class="">Edit milestone<img class="ml-2 tool-button-icon "  src="/img/icon_pencil_black.svg"/></p> 
					
					</b-button>
				</div>
				
				
				
			</div>
		</div>

		<b-card
			class="overflow-hidden mb-5"
			
			header-bg-variant="transparent"
			header-border-variant="light"
			
			no-body
			>
			<div class="card-content">
				
				<div class="mt-3" style=" display:flex; flex-direction: column; justify-content: flex-end">
					<b-card-title class="overflow-hidden " >
						<h3>{{ title }}</h3>
					</b-card-title>
					<div>
						<hr>
					</div>
					<b-card-text class="overflow-hidden; mb-3 mt-2 text-prewrap" style="  ">
						{{ description }}
					</b-card-text>
					<div>
						<hr>
					</div>
					<div class="mt-2 mb-2" >
						<span class="">Due date {{ formatDate(dueDate) }}</span>
					
					
					</div>
				</div>
			</div>
		</b-card>


		<div>
			<div v-if="articles.length">
				<h1 class='display-4 mb-3'>Linked articles</h1>

				<b-card-group columns >
					<b-card
						class="overflow-hidden"
						v-for="article in articles"
						:key="article.key"
						v-on:click="gotoArticle(article)"	
						header-bg-variant="transparent"
						header-border-variant="light"
						
						no-body
						>
						<div class="card-content article-card">
							<div class="mt-2" >
								{{ formatDate(article.createdAt) }}
								
								<p v-if="isDraft(article)" class="float-right"><b-badge pill variant="secondary">Draft</b-badge></p>
								<p v-if="isUnderVote(article)" class="float-right"><b-badge pill variant="warning">In vote</b-badge></p>
								<p v-if="isAdopted(article)" class="float-right"><b-badge pill variant="success">Adopted</b-badge></p>
								<p v-if="isRejected(article)" class="float-right"><b-badge pill variant="danger">Rejected</b-badge></p>
							</div>
						<div style=" display:flex; flex-direction: column; justify-content: flex-end">
							<b-card-title class="overflow-hidden " style="max-height: 6rem; ">
								{{ article.title }}
							</b-card-title>
							<div>
								
								<hr>
							</div>
							
							<b-card-text class="overflow-hidden; mb-3 mt-2" style="  min-height: 8rem; max-height: 8rem;">
								{{ article.description }}
							</b-card-text>
						</div>
						</div>
					</b-card>
				</b-card-group>
				
			</div>
			
		</div>


	</div>
</template>

<script>

import CONST from "../utils/constants.js"

String.prototype.trunc = String.prototype.trunc ||
	function(n){
		return (this.length > n) ? this.substr(0, n-1) + '…' : this;
	};

export default {
	name: 'CAMilestone',
	props: {
		id: Number
	},
	data() {
		return {
			
			title: "",
			image: "",
			description: "",
			fields: ['title'],
			milestones: [],
			articles: [],
			dueDate: "",
			breadcrumbItems: [
				{
					text: 'milestones',
					to: '/milestones'
				},
				{
					text: 'loading...',
					active: true	
				}
				
			],
			// months to display
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		}
	},
	computed: {
		isAuhtorized(){
			return (this.$store.state.privilege >= CONST.USER_PRIVILEGE_MEMBER)
		},
		// _milestones(){
		// 	return this.milestones.map(_milestone => {
		// 		return {
		// 			title: _milestone.title,
		// 			description: _milestone.description.trunc(255),
		// 			id: _milestone.id,
		// 			createdAt: _article.createdAt
		// 		}

		// 	})
		// }

		
		
	},
	created() {
		this.axios
			.get(this.$API+'/milestones/?milestone='+this.$route.params.id)
			.then(resp => {
				window.console.log(">> CAMilestone > requested milestones: ",resp.data);
				this.milestones = resp.data;
			})
		this.axios
			.get(this.$API+'/milestones/'+this.$route.params.id)
			.then(resp => {
				this.id = resp.data._id;
				this.title = resp.data.title;
				this.description = resp.data.description;
				this.image = resp.data.image;
				this.articles = resp.data.articles;
				this.dueDate = resp.data.dueDate;
			})
	},
	methods: {
		// gotoMilestone(milestone) {
		// 	this.$router.push({ name: 'article', params: { id: article.id } })
		// },
		// newMilestone(){
		// 	this.$router.push({name: 'newMilestone', params: {milestone: this.$route.params.id}})
		// },
		
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		gotoArticle(article) {
			window.console.log("artcle(id): ", article);
			this.$router.push({ name: 'article', params: { id: article.id } });
		},
		isDraft(article){
			return (article.status == CONST.ARTICLE_STATUS_DRAFT)
		},
		isUnderVote(article){
			return (article.status == CONST.ARTICLE_STATUS_PENDING)
		},
		isAdopted(article){
			return (article.status == CONST.ARTICLE_STATUS_ADOPTED)
		},
		isRejected(article){
			return (article.status == CONST.ARTICLE_STATUS_REJECTED)
		}
	}
}
</script>

<style scoped lang="scss">

</style>
