<template>
	<div>
		<h4 class="display-4 my-3">Open votes</h4>
		<div class="" >
			<b-card-group columns >
				
				<b-card
					class="overflow-hidden"
					v-for="article in openArticles"
					:key="article.key"
					v-on:click="gotoArticle(article)"

					header-bg-variant="transparent"
					header-border-variant="light"
					
					no-body
					>
					<div class="card-content article-card">
						<div class="mt-2">
							{{ formatDate(article.createdAt) }}

							<p v-if="isDraft(article)" class="float-right"><b-badge pill variant="secondary">Draft</b-badge></p>
							<p v-if="isUnderVote(article)" class="float-right"><b-badge pill variant="warning">In vote</b-badge></p>
							<p v-if="isAdopted(article)" class="float-right"><b-badge pill variant="success">Adopted</b-badge></p>
							<p v-if="isRejected(article)" class="float-right"><b-badge pill variant="danger">Rejected</b-badge></p>
						</div>
						<div style=" display:flex; flex-direction: column; justify-content: flex-end">
							<b-card-title class="overflow-hidden " style="max-height: 6rem; ">
								{{ article.title }}
							</b-card-title>
							<div>
								
								<hr>
							</div>
							
							<b-card-text class="overflow-hidden; mb-3 mt-2" style="  min-height: 8rem; max-height: 8rem;">
								{{ article.description }}
							</b-card-text>
							
						</div>
					</div>
				</b-card>

			</b-card-group>
			<div v-if="openArticles.length==0" class="text-center py-5 text-secondary">
				<h4>There are no open votes for you.</h4>
			</div>
		</div>


	</div>
</template>

<script>

import CONST from "../utils/constants.js"
import _ from 'lodash';



String.prototype.trunc = String.prototype.trunc ||
	function(n){
		return (this.length > n) ? this.substr(0, n-1) + '…' : this;
	};

export default {
	name: 'CAMyOpenVotes',
	props: {
		id: Number
	},
	data() {
		return {
			title: "",
			image: "",
			description: "",
			fields: ['title'],
			articles: [],
			openArticles: [],
			breadcrumbItems: [
				{
					text: 'Project',
					to: '/categories'
				},
				{
					text: 'loading...',
					active: true	
				}
				
			],
			// months to display
			months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"]
		}
	},
	computed: {
		isAuhtorized(){
			return (this.$store.state.privilege >= CONST.USER_PRIVILEGE_MEMBER)
		},
		_articles(){
			return this.articles.map(_article => {
				return {
					title: _article.title,
					description: _article.description.trunc(110),
					id: _article.id,
					createdAt: _article.createdAt,
					lock: _article.lock,
					lockDueDate: _article.lockDueDate,
					status: _article.status
				}

			})
		}
		
		
	},
	created() {
		this.axios
			.get(this.$API+'/articles/?category='+this.$route.params.id)
			.then(resp => {
				window.console.log(">> CAMyOpenVotes > requested articles: ",resp.data);
				this.articles = resp.data;
				this.filterOpenVotes();
			})
		

		
	},
	methods: {
		gotoArticle(article) {
			this.$router.push({ name: 'article', params: { id: article.id } })
		},
		newArticle(){
			this.$router.push({name: 'newArticle', params: {category: this.$route.params.id}})
		},
		isDraft(article){
			return (article.status == CONST.ARTICLE_STATUS_DRAFT)
		},
		isUnderVote(article){
			return (article.status == CONST.ARTICLE_STATUS_PENDING)
		},
		isNotVotedOnByMe(article){
			return (article.status == CONST.ARTICLE_STATUS_PENDING)
		},
		isAdopted(article){
			return (article.status == CONST.ARTICLE_STATUS_ADOPTED)
		},
		isRejected(article){
			return (article.status == CONST.ARTICLE_STATUS_REJECTED)
		},
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+this.months[d.getMonth()]+" "+d.getFullYear())		
		},
		pathToImage(){
			const remotePath =  this.$API.replace("api","");
			return remotePath+this.image;
		},
		generateBgImage(){
			
			return `background-image: url('${this.pathToImage()}')`;
		
		},
		filterOpenVotes(){
			
			
			
			this.openArticles = _.filter(this.articles, ['status', CONST.ARTICLE_STATUS_PENDING]);
			window.console.log("CAMyOpenVotes filterOpenVotes >> ", this.openArticles );
			
		}
	},
	mounted: {

	}
}
</script>

<style scoped lang="scss">

.ca-img-thumbnail{
	width: 100%; 
	height: 12em; 
	overflow: hidden; 
	background-position: center center; 
	background-size: cover; 
}

</style>
