<template>
	<div class="row">
		<div class="col-md-12 my-5">
			<h1 class=''>Register</h1>
		</div>
		<div class="col-md-8">
			<b-form @submit="onSubmitStep1" v-if="!user_id">
				<b-form-group
					id="username-group"
					label="Username"
					label-for="username"
					description=""
					label-cols-sm="4"
					label-cols-lg="3"
				>
					<b-form-input
						id="username"
						v-model="username"
						type="text"
						required
						placeholder="Pick a username">
					</b-form-input>
				</b-form-group>
				<b-form-group
					id="email-group"
					label="Email"
					label-for="email"
					label-cols-sm="4"
					label-cols-lg="3"
				>
					<b-form-input
						id="email"
						v-model="email"
						type="email"
						required
						placeholder="Enter email">
					</b-form-input>
				</b-form-group>
				<b-form-group
					id="password-group"
					label="Password"
					label-for="password"
					label-cols-sm="4"
					label-cols-lg="3"
				>
					<b-form-input
						id="password"
						type="password"
						v-model="password"
						placeholder="Enter password"
						required
						>
					</b-form-input>
				</b-form-group>
				<b-button type="submit" variant="primary">Next</b-button>
			</b-form>
			<b-form @submit="onSubmitStep2" v-if="user_id">
				<b-form-group
					id="publicKey-group"
					label="publicKey"
					label-for="publicKey"
					label-cols-sm="4"
					label-cols-lg="3"
				>

					<b-form-input
						id="publicKey"
						type="text"
						v-model="publicKey"
						placeholder=""
						required
						readonly
						>
					</b-form-input>

				</b-form-group>

			<div>
				<b-alert show variant="warning">
					<h4 class="alert-heading">Please write down your privateKey</h4>
						<p>
						You only get one and make it count 🙂
						</p>
					<hr>
						<h3><code>private key: {{ privateKey }}</code></h3>
					<hr>
						<p class="mb-0">
						Do not lose this and do not share this.
						</p>
				</b-alert>
			</div>

			<b-button
			class="mt-3"
			type="submit"
			variant="primary"
			>Finish registration</b-button>
			</b-form>
		</div>
	</div>
</template>
<script>


export default {
	name: 'CARegister',
	props: {
	},
	data(){
		return {
			email: '',
			password: '',
			username: '',
			publicKey: 0,
			privateKey: 0,
			user_id: 0
		}
	},
	computed: {
		loggedIn() {
			return this.$store.getters.loggedIn;
		}
	},
	methods: {
		onSubmitStep1(evt){
			evt.preventDefault();
			this.axios
				.post(this.$API+'/users/register', {
					email: this.email,
					username: this.username,
					password: this.password
				})
				.then(this.onSuccessStep1)
				.catch(this.onFailure);
		},
		onSuccessStep1(resp){
			this.$store.commit('alertSuccess','Almost done; just one more step.');
			this.user_id = resp.data.user_id;
			this.$CryptoWrapper.getAppCredentials(this.username)
			.then(this.showAppCredentials);
		},
		showAppCredentials(credentials){
			this.publicKey = credentials[this.username].keypair.public_key;
			this.privateKey = credentials[this.username].keypair.private_key;
		},
		onSubmitStep2(evt){
			evt.preventDefault();
			this.axios
				.put(this.$API+"/users/"+this.user_id, {
					publicKey: this.publicKey
				})
				.then(this.onSuccessStep2)
				.catch(this.onFailure)
		},
		onSuccessStep2(user){
			this.$store.commit('alertSuccess','Registration complete!');
			this.$store.commit('logIn',user.data)
			this.$router.push({ name: 'profile' })
		},
		onFailure(resp){
			window.console.log(">> CARegister > triggered error", resp);
		
			this.$store.commit('alertError','Something went wrong');
			this.$store.commit('logOut');
		}

	},
	mounted() {
		//if the user is logged in we forward to profile
		if(this.loggedIn) return this.$router.push({ name: 'profile'})

	}
}
</script>

<style scoped lang="scss">
	pre{
		text-align: left;
	}

</style>
