<template>
	<div class="row justify-content-center my-5">
		<div class="col-md-8 my-5">
			
			<h1 class='display-4'>Settings</h1>
			<div class='my-5'>
				Coming soon.
			</div>
		</div>
		

	</div>
</template>

<script>

import CONST from "../utils/constants.js"

export default {
	name: 'CASettings',
	props: {
	},
	data(){
		return {
			fields: ['title'],
			categories: [],
			newCategoryTitle: "",
			newCategoryDescription: ""

		}
	},
	computed: {
		isAuhtorized(){
			const minlevel = CONST.USER_PRIVILEGE_BOARD;
			return (this.$store.state.privilege >= minlevel)
		},
		rows() {
        return this.items.length
      }
	},
	mounted() {
		this.renderListOfCategories();
	},
	methods: {

		renderListOfCategories(){
			this.axios
				.get(this.$API+'/categories/')
				.then(resp => {
					this.categories = resp.data
				})
				.catch(err => {
					window.console.log(err);
				});
		},
		showCategory(category) {
			this.$router.push({ name: 'category', params: { id: category._id } })
		},
		deleteCategory(category){
			if(!window.confirm("are you sure you want to delete category: "+category.title+"?\n\n Note: associated articles are not deleted, but may become hard to retreive. ")) return;
			this.axios
				.delete(this.$API+'/categories/'+category._id)
				.then(() => {
					this.renderListOfCategories();
					this.$store.commit('alertSuccess',"Removed category "+category.title)
				})
				.catch(err => {
					this.$store.commit('alertError',"Category could not be deleted")
					window.console.log(err);
				});
		},
		createNewCategory(e){
			this.axios
				.post(this.$API+'/categories/', {title: this.newCategoryTitle, description: this.newCategoryDescription})
				.then(() => {
					this.$bvModal.hide('modal-new-category')
					this.renderListOfCategories()
				})
				.catch(err => {
					window.console.log(err);
					this.$bvModal.hide('modal-new-category')
					this.$store.commit('alertError',"Please provide a title and description.")
				});

			e.preventDefault();

		}

	}

}
</script>

<style scoped lang="scss">




</style>
