<template>
	<div class="justify-content-center  row">
		<div class="col-10">
			<div class="ca-img-thumbnail" v-bind:style="generateBgImage()">
				
			</div>

			<!-- section header with tool -->
			<div class="row mt-5 mb-2" >
				<div class="col" style="display: flex; justify-content: space-between; align-items: baseline">
					<h1>{{instance.title}}</h1>
					<div style="display: flex; justify-content: space-between; align-items: baseline">
						<b-button :to="{ name: 'setup', params: {}}" class='float-right tool-button ' v-if="isAuthorized" >
							<p class=""><img class="ml-2 tool-button-icon "  src="/img/icon_pencil_black.svg"/> Edit organisation</p> 
						
						</b-button>
					</div>
					
					
					
				</div>
			</div>

			<div class="mb-5">
				
				<p style="white-space: pre-wrap">
					{{instance.description}}
				</p>
				
			</div>			

		</div>

		<CAMyOpenVotes v-if="isAuthorized" />
		
	</div>
</template>

<script>

import CONST from "../utils/constants.js"
import CAMyOpenVotes from "./CAMyOpenVotes.vue"

const defaultHeaderImage = "/img/abstract-coop.svg";

export default {
	name: 'CAContainer',
	props: {
	},
	components: {
		CAMyOpenVotes
	},

	data() {
		return {

			title: "",
			image: defaultHeaderImage,
			description: "",
			createdAt: ""
			
		}
	},
	computed: {
		isAuthorized(){
			return (this.$store.state.privilege >= CONST.USER_PRIVILEGE_ADMIN)
		},
		instance(){
			return this.$store.state.instance || {title: "",description: ""};	
		}
	},
	mounted() {
		window.console.log("CAWelcome >>  instance: ", this.$store.state.instance._id);

		if(this.$store.state.instance._id == -1){
			this.$router.push({name: 'setup'});
			window.console.log("CAWelcome >>  forwarding to setup! ");	
		}
	},
	methods: {
		formatDate(date){
			var d = new Date(date)
			return (d.getDate()+" "+CONST.months[d.getMonth()]+" "+d.getFullYear())		
		},

		pathToImage(image){
			if(image == defaultHeaderImage) return defaultHeaderImage;
			const remotePath =  this.$API.replace("api","");
			if(image){
				return remotePath+image;
			}else{
				return remotePath+"uploads/images/defaultUser.png";
			}
			
		},
		generateBgImage(){
			
			return `background-image: url('${this.pathToImage(this.image)}')`;
		
		}
	}
}
</script>

<style scoped lang="scss">

.ca-img-thumbnail{
	width: 100%; 
	height: 18em; 
	overflow: hidden; 
	background-position: center center; 
	background-size: cover; 
}

</style>
