<template>
	<div id="app" class="grey-bg">
		<CAHeader />
		<div class="container ">
			<div class="row ">
				<main role="main" class="col col-md-12 mb-5"  >
					<CANotification />
					<router-view />
				</main>

			</div>

		</div>
		<CAFooter/>
	</div>
</template>

<script>

import CAHeader    		from './components/CAHeader.vue'
import CANotification   from './components/CANotification.vue'
import CAFooter 		from './components/CAFooter.vue'

export default {
	name: 'app',
	components: {
		CAHeader,
		CANotification,
		CAFooter
	},
	data(){
		return {}
	},
	computed: {
		instance(){
			return this.$store.getters.instance;		
		}
	},
	methods: {
		logIn(){
			this.axios
				.get(this.$API+'/users/profile')
				.then(this.onSuccess)
				.catch(this.onFailure);
		},
		onSuccess(resp){
			window.console.log(">> App.vue > logged in with request: ",resp);
			this.$store.commit('logIn',resp.data)
			this.$CryptoWrapper.storePublicKey(resp.data.publicKey)
			.then(_resp => {
				window.console.log(">> App.vue >saved publicKey",_resp);
			})
			.catch(err => {
				window.console.log(">> App.vue ERR while saving publicKey",err);
			});
		},
		onFailure(err){
			window.console.log(">> App.vue > could not access /profile",err);
			this.$store.commit('logOut')
			this.$router.push({ name: 'login'})
		}
	},
	mounted() {

		// const self = this;
		this.$CryptoWrapper.init()
		.then(() => {
			window.console.log(">> App.vue > Cryptowrapper succesfully started");
			window.console.log(">> App.vue > Check logged in: ",this.$store.getters.loggedIn);
			if(!this.$store.getters.loggedIn) return this.logIn();
		})
		.catch(err => {
			window.console.log(">> App.vue > could not init cryptowrapper",err);
		})

		this.axios
		.get(this.$API+'/instance')
		.then(resp => {
			this.$store.commit('setInstance',resp.data)
			this.$router.push({ name: 'home'})
		})
		.catch(err => {
			this.$store.commit('unsetInstance')
			window.console.log(">> CAHeader > error while accessing /instance",err	);
		})
	}
}
</script>

<style lang="scss">
	html{
		color: $color-text;
		font-size: 20px;
	}
	a{
		color: $color-link;
	}
	a:hover{
		color: $color-link-hover;
	}




</style>	
